/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

// Other resets by melement

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  border: 1px solid #ffae00;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus {
  outline-width: 0;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

ul {
  list-style-type: none;
  li {
    padding: 0;
  }
}



section {
    display: block;
    padding-top: 20px;
    background-color: #3c3a3a;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 25px;
}

// home slider section
.slider-section {
  background-color: #3c3a3a;
  .controls-wrap {
      width: 100%;
      display: flex;
      margin-left: 0;
  }
}

.slider-content-title {
  color: white;
  text-align: center;
  display: block;
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfbfbf;
  max-width: 120px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 80px;
  padding: 0 10px;
  
  .slider-control-img {
    margin: 0 auto;
    display: block;
    width: 80%;
  }

}

.slides-container {
  margin-left: 0;
}

.slider-control {
  &.is-active {
    background-color: #534733;
    border-color: #ffae00;
  }
}

// home product section
.product-section {
  background-color: #3c3a3a;
}

.product-item.small-6 {
    padding: 5px;
    box-sizing: border-box;
}

.product-item-wrap {
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    padding: 20px 0px 10px 0px;
}

.product-icon-wrap {
    display: inline-block;
    max-width: 150px;
    height: 80px;
}

.product-title {
    margin-top: 10px;
    font-size: 15px;
}

// Our works -- galary section
.galary-item.padding-top {
  padding-top: 10px;
}

.works-main {
  background-color: #ffae00;
  padding: 10px;
}

.galary-item {
    margin-bottom: 10px;
}

.about {
  ul {
    list-style-type: disc;
    li {
      margin-bottom: 5px;
    }
  }
  .about-des {
    color: white;
    padding: 25px 10px;
  }
}

.contact-us-wrap {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.button.contact-us {
    background-color: $main-btn-bg;
    border-radius: 18px;
    font-size: 18px;
    padding: 10px 25px;
}

// Team section
.team-item {
    padding-bottom: 15px;
    color: white;
    .team-name{
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .team-role{
      margin-bottom: 0px;
    }
}

// FAQ section
.faq-section {
  color: white;
  padding-bottom: 10px;

  .fa-question-circle-o {
    color: $main-btn-bg;
    font-size: 60px;
    margin-bottom: 20px;
  }

  .question {
    &:last-child{
      border-bottom: 0;
    }
    margin-bottom: 0;
    border-bottom: 1px solid #000000;
    &:before {
      border-color: #323232;
    }
    .title {
      background-color: #1d1d1d;
      color: #666666;
    }
    .answer {
      background-color: #1d1d1d;
    }
  }

  .question-mark{
    text-align: center;
  }
}


// Contact section
.contact {
  color: white;
  margin-bottom: 0;
  .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      i {
          color: #ffae00;
          font-size: 20px;
          margin-right: 15px;
      }
  }

  .slider-content-title {
    font-size: 54px;
  }

  .contact-address {
      font-size: 15px;
      margin-bottom: 10px;
  }
  
  .contact-item {
      font-size: 14px;
  }
  
  .contact7-wrap {
      padding-top: 15px;
      .contact-form-column-inner {
        background-color: #ffae00;
        padding: 20px;
        .wpcf7-submit {
          background-color: white;
          color: #1d1d1d;
          font-size: 18px;
          font-weight: bolder;
        }
      }
  }

  .contact-wrap {
    padding-bottom: 20px;
  }
}

// Footer section
.footer-container {
  .footer {
    height: 160px;
    display: flex;
    align-items: center;
  }
  color: $main-btn-bg;
  margin-top: 0;
  border-top: 0;
  background-color: #1d1d1d;
}

// object
.question {
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.02);
  margin-bottom: 10px;

  &:before{
    content: "";
    width: 60px;
    height: 100%;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:after {
    content: "";
    width: 60px;
    height: 100%;
    background: rgba(0,0,0,.03);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &.is-open {
    .title {
      color: white;
    }
    .answer {
      color: white;
    }
    .fa-minus {
        display: none!important;
    }
    .fa-plus {
      color: $main-btn-bg!important;
    }
  } 

  .title {
    cursor: pointer;
    padding: 14px 14px 14px 70px;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    background-color: #f6f6f6;
    color: #444;

    .fa-plus, .fa-minus {
      font-size: 15px;
      line-height: 17px;
      display: block;
      position: absolute;
      right: 10px;
      top: 21px;
      width: 20px;
      height: 20px;
      text-align: center;
      color: #5d5d5d;
    }

    .num {
      position: absolute;
      left: 27px;
      top: 15px;
      font-weight: bold;
    }
  }

  .answer {
    display: none;
    padding: 0 20px 20px 80px;
    overflow: hidden;
    color: #626262;
    font-size: 13px;
    background-color: #f6f6f6;
  }
}